/node_modules
/public/hot
/public/storage
/public/videos
/public/images
/public/css
/public/js
/public/webfonts
/storage/*.key
/storage
/vendor
/.idea
/.vagrant
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.DS_Store
/public/mix-manifest.json
/public/sw.js
public/sw.js
/blog
